<head>
	<meta charset="utf-8" />
	<title></title>
	<!-- elementUI——css cdn -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="/static/public.css">
	<!-- vue CDN -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- 支持vue的elenemtUI封装js CDN -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<!-- axios AJAX库 -->
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

	<script src="/static/enum.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	
</head>

<body style="margin: 0;">
	
	<div id="app" >

		<el-container style="height: 100vh;">
		    <el-aside width="200px" class="menu_aside">
		    	<el-menu
			      :default-active="menu.active"
			      router:true
			      class="el-menu-vertical-demo"
			      @open="handleOpen"
			      @select="handleOpen"
			      @close="handleClose"
			      background-color="#211b1f"
			      text-color="#fff"
			      active-text-color="#FBE11B">
			      <el-menu-item>
			        <span slot="title"> Man Ge </span>
			      </el-menu-item>
			      	<el-menu-item v-for="m in menu.list" :index="m.url">
			        <i :class="`${m.i}`"></i>
			        <span slot="title">{{m.name}}</span>
			      	</el-menu-item>
			    </el-menu>
		    </el-aside>