<!DOCTYPE html>
<html>
<<template "_head.html">>

<el-main class="main">

		    	<el-row :gutter="20" class="mb38">
				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>服务器： <<.conn_count>></h2>
				  	<el-button type="primary" plain>Slve下载<i class="el-icon-bottom"></i></el-button>
				  	<a href="/host" class="button_a"><el-button type="info" plain>Host列表</el-button></a>
				  </div></el-card></el-col>

				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>资产 ： 4</h2>
				  	<el-button type="primary" plain>发布<i class="el-icon-upload el-icon--right"></i></el-button>
				  	<a href="/property" class="button_a"><el-button type="info" plain>资产列表</el-button></a>
				  </div></el-card></el-col>

				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>警报&通知 :  4</h2>
				  	<a href="alarm.html" class="button_a"><el-button type="info" plain>前往处理</el-button></a>
				  </div></el-card></el-col>

				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>入门</h2>
				  </div></el-card></el-col>

				</el-row>

		    	<el-row :gutter="20" style="margin-bottom: 8px;">
				  <el-col :span="24"><div class="grid-content home_tz">
				  		<h4> > 通知</h4>
				  		<template>
						  <el-table
						    :data="tableData"
						    :row-class-name="tableRowClassName"
						    height="250"
						    border
						    style="width: 100%">
						    <el-table-column
						      prop="date"
						      label="日期"
						      width="180">
						    </el-table-column>
						    <el-table-column
						      prop="name"
						      label="姓名"
						      width="180">
						    </el-table-column>
						    <el-table-column
						      prop="address"
						      label="地址">
						    </el-table-column>
						     <el-table-column
						      fixed="right"
						      label="操作"
						      width="100">
						      <template slot-scope="scope">
						        <el-button @click="handleClick(scope.row)" type="text" size="small">详情</el-button>
						        <el-button type="text" size="small">已读</el-button>
						      </template>
						    </el-table-column>
						  </el-table>
						</template>

				  </div></el-col>
				</el-row>
				

</el-main>


		 <!--  <el-footer style="background-color: #000; " >aas</el-footer> -->
		</el-container>

	</div>

</body>

<!-- vue CDN -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 支持vue的elenemtUI封装js CDN -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- axios AJAX库 -->
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

<script src="/static/enum.js"></script>
<script type="text/javascript">


let url = window.location.pathname;

new Vue({
	el:"#app",
	
	data:{
		menu:Enum(url),
	     tableData: [{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄',
            type: 1
          }, {
            date: '2016-05-04',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1517 弄',
            type: 1
          }, {
            date: '2016-05-01',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1519 弄',
            type: 3
          }, {
            date: '2016-05-03',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1516 弄',
            type: 1
          }, {
            date: '2016-05-03',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1516 弄',
            type: 3
          }, {
            date: '2016-05-03',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1516 弄',
            type: 3
          }]
	},
	methods:{
		handleSelect(key, keyPath) {
        	console.log(key, keyPath);
      	},
      	handleOpen(key, keyPath) {
	        console.log(key, keyPath);
	        window.location.href=keyPath;
	    },
	    handleClose(key, keyPath) {
	        console.log(key, keyPath);
	    },
	    hostList(){

	    	this.$router.push('host_list.html');
	    },
	     tableRowClassName({row, rowIndex}) {
	     	console.log(row)
        if (row.type === 1) {
          return 'warning-row';
        } else if (row.type === 3) {
          return 'success-row';
        }
        return '';
      },
      handleClick(row) {
        console.log(row);
      }
	}
})
</script>

</html>