<!DOCTYPE html>
<html>
<<template "_head.html">>

<el-main class="main">

		    	<el-row :gutter="20" class="mb38">
				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>服务器： <<.conn_count>></h2>
				  	<el-button type="primary" plain>Slve下载<i class="el-icon-bottom"></i></el-button>
				  	<a href="/host" class="button_a"><el-button type="primary" plain>Host列表</el-button></a>
				  </div></el-card></el-col>

				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>资产 ： 4</h2>
				  	<el-button type="primary" plain>发布<i class="el-icon-upload el-icon--right"></i></el-button>
				  	<a href="/property" class="button_a"><el-button type="primary" plain>资产列表</el-button></a>
				  </div></el-card></el-col>

				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>警报&通知 :  <<.notifincation_count>></h2>
				  	<a href="/alarm" class="button_a"><el-button type="primary" plain>前往处理</el-button></a>
				  </div></el-card></el-col>

				  <el-col :span="6"><el-card shadow="hover"><div class="home_rk">
				  	<h2>入门</h2>
				  </div></el-card></el-col>

				</el-row>


	<el-row :gutter="20" class="mb38">
		<el-col :span="24"><el-card shadow="hover"><div class="home_rk">
					<h2>在Master创建网络服务</h2>
					<el-button type="primary" plain><i class="el-icon-connection" style=""></i> 内网穿透服务</el-button>
					<el-button type="primary" plain><i class="el-icon-guide"></i> Http/s代理服务</el-button>
					<el-button type="primary" plain><i class="el-icon-guide"></i> TCP代理服务</el-button>
					<el-button type="primary" plain><i class="el-icon-receiving"></i> 网络文件服务</el-button>
					<a href="/host"  class="button_a" style="margin-left: 12px;"><el-button type="primary" plain>Master网络服务列表</el-button></a>
				</div></el-card></el-col>
	</el-row>

			<el-row :gutter="20" class="mb38">
				
			</el-row>

</el-main>


		 <!--  <el-footer style="background-color: #000; " >aas</el-footer> -->
		</el-container>

	</div>

</body>

<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script type="text/javascript">
let url = window.location.pathname;

new Vue({
	el:"#app",
	
	data:{
		menu:Enum(url)
	},
	methods:{
      	handleOpen(key, keyPath) {
	        console.log(key, keyPath);
	        window.location.href=keyPath;
	    },
	    handleClose(key, keyPath) {
	        console.log(key, keyPath);
	    }
	}
})





</script>

</html>