
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
	
// 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

option = {
    title: {
        text: '连接关系图'
    },
    tooltip: {},
    animationDurationUpdate: 1500,
    animationEasingUpdate: 'quinticInOut',
    series : [
        {
            type: 'graph',
            layout: 'force',
            symbolSize: 70,
            roam: true,
label: {
    normal: {
        show:true,
        formatter:  function( data ) {
            return '{gray|' + data.name + ':}{green|\n' + data.name + '}';
        },
        rich: {
            gray: {
                color: '#fff'
            },
            green: {
                color: '#fff'
            }
        }
    }
},
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [4, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            data: [{
                name: 'Master',
                x: 360,
                y: 100,
                symbolSize: 100,
            }, {
                name: '节点2',
                x: 250,
                y: 300
            }, {
                name: '节点3',
                x: 250,
                y: 300
            }, {
                name: '节点4',
                x: 250,
                y: 300
            }, {
                name: '节点5',
                x: 250,
                y: 300
            }, {
                name: '节点6',
                x: 250,
                y: 300
            }, {
                name: '节点7',
                x: 250,
                y: 300
            }, {
                name: '节点8',
                x: 250,
                y: 300
            }, {
                name: '节点9',
                x: 250,
                y: 300
            }, {
                name: '节点10',
                x: 250,
                y: 300
            }],
            // links: [],
            links: [{
                source: 'Master',
                target: '节点3'
            }, {
                source: 'Master',
                target: '节点2'
            }, {
                source: 'Master',
                target: '节点4'
            }, {
                source: 'Master',
                target: '节点5'
            }, {
                source: 'Master',
                target: '节点6'
            }, {
                source: 'Master',
                target: '节点7'
            }, {
                source: 'Master',
                target: '节点8'
            }, {
                source: 'Master',
                target: '节点9'
            }, {
                source: 'Master',
                target: '节点10'
            }],
            animation:true,
            markArea:{
                animation:false
            },
            markPoint:{
                symbol: 'arrow',
            },
                        markLine:{
                symbol: 'arrow',
                precision:5
            },
               
                        lineStyle: {
                normal: {
                    opacity: 0.9,
                    width: 2,
                    curveness: 0
                }
            },
                            force: {
                    repulsion:[0, 500],
                    edgeLength: [0, 200],
                    layoutAnimation:false,
                    //initLayout:'circle',
                    gravity:0
                }
        }
    ]
};
// 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

</script>