<!DOCTYPE html>
<html>
<<template "_head.html">>

<el-main style="background-color: #F5F5F5;">
    <el-row :gutter="20" style="margin-bottom: 8px;">
        <el-col :span="24"><div class="grid-content host_table" style="height: 80%;">
                <el-link href="/host" style="font-size: 18px;margin-bottom: 12px;"> > 服务器列表</el-link> <el-link type="primary" href="#" style="font-size: 18px;margin-bottom: 12px;"> > <<.data.Name>></el-link>

                <template>
                  <el-tabs type="card" v-model="activeName" @tab-click="handleClick">

                    <el-tab-pane label="概括" name="a1" style="height: 80%" >

                        <el-row :gutter="12">
                            <el-col :span="6">
                                <el-card shadow="hover" style="height: 210px;">
                                  <span><b>系统</b></span><hr>
                                  <span><<.data.SysType>></span><br>
                                  <span><<.data.OsName>></span><br>
                                </el-card>
                              </el-col>
                              <el-col :span="6">
                                <el-card shadow="hover" style="height: 210px;">
                                  <span><b>配置</b></span><hr>
                                  <span>cpu: <<.data.CpuName>>(<<.data.CpuCoreNumber>>)</span><br>
                                  <span>cpu id: <<.data.CpuID>></span><br>
                                  <span>内存: <<.data.MemTotal>></span><br>
                                  <span>磁盘: <<.data.DiskTotal>></span><br>
                                </el-card>
                              </el-col>
                              <el-col :span="6">
                                <el-card shadow="hover" style="height: 210px;">
                                  <span><b>架构</b></span><hr>
                                  <span><<.data.SysArchitecture>></span><br>
                                </el-card>
                              </el-col>
                              <el-col :span="6">
                                <el-card shadow="hover" style="height: 210px;">
                                  <span><b>提示</b></span><hr>
                                  <span style="color: red;"><<.tip>></span><br>
                                  
                                </el-card>
                              </el-col>
                        </el-row>
                        <el-row :gutter="12">
                            <el-col :span="8" style="padding: 24px;">
                                <el-card shadow="hover" style="height: 280px;">
                                  <div id="ecs1" style="width: 100%;height:240px;"></div>
                                </el-card>
                            </el-col>

                            <el-col :span="8" style="padding: 24px;">
                                <el-card shadow="hover" style="height: 280px;">
                                  <div id="ecs2" style="width: 100%;height:240px;"></div>
                                </el-card>
                            </el-col>

                            <el-col :span="8" style="padding: 24px;">
                                <el-card shadow="hover" style="height: 280px;">
                                  <div id="ecs3" style="width: 100%;height:240px;"></div>
                                </el-card>
                            </el-col>

                        </el-row>
                        <el-row :gutter="12">
                            
                              <el-col :span="12" style="padding: 24px;">
                                <el-card shadow="hover" style="height: 340px;">
                                  <div id="ecs4" style="width: 100%;height:300px;"></div>
                                </el-card>
                              </el-col>
                        </el-row>

                    </el-tab-pane>

                    <el-tab-pane label="监控" name="a2">
                            <br>
                            <h4> > CPU 监控</h4>
                            <span style="margin-left: 12px;margin-right: 24px;">报警值: 90% </span>  <el-button round>修改</el-button>
                            <hr>
                            <br>
                            <h4> > 内存 监控</h4>
                            <span style="margin-left: 12px;margin-right: 24px;">报警值: 90% </span>  <el-button round>修改</el-button>
                            <hr>
                            <br>
                            <h4> > 磁盘容量 监控</h4>
                            <span style="margin-left: 12px;margin-right: 24px;">报警值: 90% </span>  <el-button round>修改</el-button>
                            <hr>
                            <br>
                            <h4> > 连接数 监控</h4>
                            <span style="margin-left: 12px;margin-right: 24px;">报警值: 1000 个连接 </span>  <el-button round>修改</el-button>
                            <hr>
                            <br>
                            <h4> > 进程数 监控</h4>
                            <span style="margin-left: 12px;margin-right: 24px;">报警值: 1000 个进程 </span>  <el-button round>修改</el-button>
                            <hr>
                    </el-tab-pane>

                    <el-tab-pane label="进程" name="a3">进程</el-tab-pane>

                    <el-tab-pane label="环境变量" name="a4">环境变量</el-tab-pane>

                    <el-tab-pane label="部署" name="a5">部署</el-tab-pane>

                    <el-tab-pane label="设置" name="a6">设置</el-tab-pane>

                  </el-tabs>
                </template>


            </div>
        </el-col>
    </el-row>

</el-main>
</el-container>

</div>

</body>

<<template "_echarts.html">>

<script type="text/javascript">
    let url = "/host";
    new Vue({
        el: "#app",
        data: function () {
            return {
                menu: Enum(url),
                activeName: 'a1'
            }
        },
        methods:{
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
                window.location.href=keyPath;
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
             handleClick(tab, event) {
                console.log(tab, event);
              }
        }
        // mounted: {
        //     console.log("open");
        // }
    });


    //ecs1 
    let Chart1 = echarts.init(document.getElementById('ecs1'));
    let timeData1 = ['00:00','2:00','4:00','6:00','8:00','10:00','12:00','14:00','16:00','18:00','20:00',"22:00"];
    let showData1 = ['1200', '1400', '1008', '1411', '1026', '1288', '1300', '800', '1100', '1000', '1118', '1322'];
    let option1 = LineChartData3("CPU使用率",["总使用率"],timeData1,showData1)
    Chart1.setOption(option1);

    //ecs2
    let Chart2 = echarts.init(document.getElementById('ecs2'));
    let timeData2 = ['00:00','2:00','4:00','6:00','8:00','10:00','12:00','14:00','16:00','18:00','20:00',"22:00"];
    let showData2 = ['1200', '1400', '1008', '1411', '1026', '1288', '1300', '800', '1100', '1000', '1118', '1322'];
    let option2 = LineChartData3("内存使用率",["内存使用率"],timeData2,showData2)
    Chart2.setOption(option2);

    //ecs3
    let Chart3 = echarts.init(document.getElementById('ecs3'));
    let timeData3=['00:00','2:00','4:00','6:00','8:00','10:00','12:00','14:00','16:00','18:00','20:00',"22:00"];
    let showData3=['1200', '1400', '1008', '1411', '1026', '1288', '1300', '800', '1100', '1000', '1118', '1322'];
    let option3 = LineChartData3("磁盘使用率",["总使用率"],timeData3,showData3)
    Chart3.setOption(option3);

    //ecs4
    let Chart4 = echarts.init(document.getElementById('ecs4'));
    let titleStr4="网络IO";
    let objNameList4=['出网','入网'];
    let timeData4=['00:00','2:00','4:00','6:00','8:00','10:00','12:00','14:00','16:00','18:00','20:00',"22:00"];
    let objData1_4=['1200', '1400', '1008', '1411', '1026', '1288', '1300', '800', '1100', '1000', '1118', '1322'];
    let objData2_4=['1200', '1400', '808', '811', '626', '488', '1600', '1100', '500', '300', '1998', '822'];
    let option4 = LineChartData2(titleStr4,objNameList4,timeData4,objData1_4,objData2_4)    
    Chart4.setOption(option4);

</script>

</html>