.el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
}

.el-col {
    border-radius: 4px;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.menu_aside {
    background-color: #211b1f;
}

.main {
    background-color: #F5F5F5;
}

.mb38 {
    margin-bottom: 38px;
}

.mt38 {
    margin-top: 38px;
}

.ml38 {
    margin-left: 38px;
}

.mr38 {
    margin-right: 38px;
}

.home_rk {
    height: 112px;
}

.home_rk a {
    margin-bottom: 18px;
    margin-top: 2px;
}

.home_tz {
    height: 300px;
    padding: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    background-color: #fff;
}

.home_tz h4 {
    margin-bottom: 12px;
    margin-top: 0;
}

.host_table {
    height: 88vh;
    padding: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    background-color: #fff;
}

.button_a {
    color: inherit;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}